* {
  outline: none;
  margin: 0;

  body {
    overflow: hidden;
  }
  nav {
    position: absolute;
    width: 80%;
    height: 30%;
    background-color: rgba(233, 222, 122, 0.3);
    padding: 0;
    ul {
      display: flex;
      position: relative;
      padding: 0;
      width: 100%;
      li {
        height: 4rem;
        flex: auto;
        list-style-type: none;
        display: flex;
        text-align: center;
        background-color: rgba(255, 100, 100, 0.3);
      }
    }

    #webgl-container {
      position: absolute;
      top: 30%;
      left: 0;
      width: 80%;
      height: 70%;
    }
  }
  .sideNav {
    position: absolute;
    left: 80%;
    width: 20%;
    height: 100%;
    background-color: rgba(122, 211, 05, 0.4);
  }
}
