* {
  outline: none;
  margin: 0;
}

body {
  overflow: hidden;
}

/* .content {
  position: relative;
  width: 70%;
  height: 80%;
} */
/* nav start */
nav {
  position: absolute;
  width: 80%;
  height: 30%;
  background-color: rgba(233, 222, 122, 0.3);
  padding: 0;
}

nav ul {
  display: flex;
  position: relative;
  padding: 0;
  width: 100%;
}

nav ul li {
  height: 4rem;
  flex: auto;
  list-style-type: none;
  display: flex;
  line-height: 4rem;
  justify-content: space-around;
  background-color: rgba(255, 100, 100, 0.3);
}
/* nav end */
/* button start */
button {
  background-color: rgba(255, 255, 255, 1);
  color: rgb(0, 33, 00);
  padding: 0 0.5rem;
  border-radius: 4px;
  border: none;
  font-family: inherit;
  cursor: pointer;
}

#open {
  position: relative;
  text-align: center;
  width: 100px;
  height: 40px;
  padding: 0.5rem;
  margin: 10px;
  transition: all 0.9s, color 0.3;
}

#open:hover {
  color: #fff;
  box-shadow: 0 100px 0 0 rgba(0, 0, 0, 0.25) inset,
    0 -100px 0 0 rgba(0, 0, 0, 0.25) inset;
}

.popup-container {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);

  display: none;
  align-items: center;
  justify-content: center;
  z-index: 100;
}

.popup-container.active {
  display: flex;
  z-index: 100;
}

.popup {
  background-color: #fff;
  border: 5px solid rgba(122, 211, 05, 0.4);
  border-radius: 15px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
  padding: 3rem;
  position: relative;
  width: 500px;
  z-index: 100;
}

.popup #close {
  padding: 0.5rem;
  background-color: rgba(0, 0, 0, 0.25);
  color: rgba(0, 0, 0, 0.7);
  font-size: 0.5rem;
  position: absolute;
  top: 10px;
  right: 10px;
}

.popup #close:hover {
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
}

.Btn {
  position: absolute;
  left: 1%;
  top: 31%;
  z-index: 50;
}

.underBtn {
  padding: 0.5rem;
}

input {
  border-radius: 5px;
  border: 3px solid rgba(0, 0, 0, 0.5);
}

#description {
  width: 300px;
  height: 5rem;
}

.submitBtn {
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
  right: 120px;
  bottom: 20px;
  padding: 5px 20px;
}

.deleteBtn {
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
  right: 40px;
  bottom: 20px;
  padding: 5px 20px;
}

.submitBtn:hover,
.deleteBtn:hover {
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
}

/* button end */
#webgl-container {
  position: absolute;
  top: 30%;
  left: 0;
  width: 80%;
  height: 70%;
}

.sideNav {
  position: absolute;
  left: 80%;
  width: 20%;
  height: 100%;
  background-color: rgba(122, 211, 05, 0.4);
}

.sideNav ul,
.sideNav ul li {
  padding: 0 20px;
  list-style-type: none;
  padding-top: 5px;
}

.sideNav ul li {
  display: flex;
  justify-content: space-between;
}

.sideNav ul li span {
  display: none;
}
